<app-menu></app-menu>
<body>
<div class="app-about-div">
  <mat-card-title class="mat-dialog-title">Acerca de Nosotros</mat-card-title>
  <hr>
  <section class="section">
  <mat-grid-list cols="2" rowHeight="120px">
      <mat-card class="example-card">
        <mat-card-title style="padding-top: 0">Misión</mat-card-title>
        <mat-card-content>
          <p>Trabajamos para ofrecerle a nuestros clientes los mejores productos y precios, con cuotas claras,
            para atenderlos en forma especializada y ser destino de sus compras.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-title>Visión</mat-card-title>
        <mat-card-content>
          <p>Queremos ser reconocidos como una compañia cercana al cliente, con un crédito transparente,
            amplio portafolio de productos y servicios.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-title>Estrategia</mat-card-title>
        <mat-card-content>
          <p>Garantizar que cada categoría tenga todas las opciones de producto. Excelencia en el servicio,
            para facilitar que una compra planeada se convierta en una compra efectiva y fidelizarlos.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-title>Política de calidad</mat-card-title>
        <mat-card-content>
          <p>Generar ventajas competitivas y de valor a través de los procesos, los cuales nos diferencian al ser
            percibidos por el cliente.
          </p>
        </mat-card-content>
      </mat-card>
  </mat-grid-list>
  </section>
</div>
</body>

