.e-product-card {
  margin-top: 11px;
  max-width: 500px;
  border: black solid 1px;

}
.mat-dialog-title {
  color: white;
}
img.e-product-img {
  height: 400px;
  width: 400px;
}

div.app-products-div {
  padding: 13px;
  text-align: center;
}

.paginator {
  text-align: center;
}

.ngx-pagination {
  text-decoration-color: white;
  font-size: large;
}

.ngx-pagination a, span {
  color: white;
}

body {
  height: auto;
  background-image: url("https://i.picsum.photos/id/307/5760/3840.jpg?hmac=XtsDQJ477ylS15H1VvpO9qCUlvrvBcDVQBu9ZUlB-SI");
  background-size: cover;
  /*background-attachment: fixed;*/
}

